 <IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [NC,L]

    RewriteCond %{HTTP_ACCEPT} image/webp
    RewriteCond %{DOCUMENT_ROOT}/$1.webp -f
    RewriteRule (.*)-.*(jpg) $1.webp [T=image/webp,E=accept:1]
 </IfModule>

DirectoryIndex index.html

<IfModule mod_headers.c>
	Header set Connection keep-alive
	Header unset ETag
	<FilesMatch "\.(jpg|jpeg|gif|png|webp|svg|css|js|ico|woff|woff2)">
		Header set Cache-Control "max-age=31536000, immutable"
	</FilesMatch>
</IfModule>
